// Colors
$clr1: #5352ed;
$clr2: #70a1ff;
$clr3: #dfe4ea;
$clr4: #2f3542;
$clr5: #574f7d;
$clr6: #7bed9f;
$clr7: #fff;
$clr8: rgba(255, 255, 255, 0.26);

$navHeight: 65px;

// Breakpoints editor status
$editor-mobile-breakpoint: 555px;
$editor-narrow-breakpoint: 815px;
$editor-normal-breakpoint: 1055px;

// Breakpoints
$mobile-breakpoint: 600px;
$narrow-breakpoint: 720px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;