.main-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbfcff;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: 480px;
  margin-top: 55px;
  min-height: 74vh;
  background-position: 90% 90%;
  color: $clr2;
  @include for-mobile-layout {
    text-align: center;
    padding: 10px 10px 90px;
    min-height: calc(100vh - #{$navHeight});
  }
}

.main-hero-img {
  position: absolute;
  right: 0;
  mix-blend-mode: multiply;
  @include for-mobile-layout {
    width: 320px;
    align-self: center;
    position: unset;
  }
  @include for-narrow-layout {
    width: 430px;
    align-self: center;
    position: unset;
  }
  @include for-normal-layout {
    // width: 430px;
    align-self: center;
    position: unset;
  }
  @include for-wide-layout {
    // width: 430px;
    position: absolute;
  }
}
.hero-content {
  z-index: 1;
}

.main-hero-title {
  font-family: Caveat, sans-serif;
  font-weight: 700;
  font-size: rem(60px);
  margin-bottom: 30px;
  letter-spacing: rem(2px);

  @include for-mobile-layout {
    font-size: 3.1rem;
    letter-spacing: rem(1px);
  }
}

.main-hero-text {
  color: #7e7e7e;
  font-size: rem(30px);
  max-width: 500px;

  .cta-button-1 {
    margin: 0;
    margin-top: 50px;
  }

  @include for-mobile-layout {
    max-width: initial;
    font-size: 1.5rem;

    .cta-button-1 {
      margin: 50px auto;
    }
  }
}

.dark-section {
  background: #f0f0f0;
  padding: 90px 0;
}

.feature-container {
  justify-content: center;
  align-items: center;
  width: 100%;
  color: $clr4;
  font-size: rem(19px);
  font-family: OpenSans;
  &.out-view {
    opacity: 0;
    transform: translateX(-100%);
  }
  &.in-view {
    transition: ease-in;
    opacity: 1;
    transition: 0.8s;
    // transition: fad-in 0.8s;
    transform: translateX(1px);
  }

  @include for-tablet-layout {
    flex-direction: column;

    img {
      order: -1;
    }

    .text-container {
      padding: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 70px;
    }
  }

  .text-container {
    padding: 20px;
  }

  h2 {
    font-size: rem(40px);
    text-align: center;
    margin-bottom: 10px;
  }

  img {
    height: 300px;
  }

  &:not(:last-child) {
    margin-bottom: 45px;
  }
}

.light-section {
  padding: 90px 0;
}

.section-title {
  text-align: center;
  font-size: rem(50px);
  color: $clr2;
  margin-bottom: rem(50px);
}

.footer {
  height: 60px;
  align-items: center;
  background-color: #efefef;
}
