.wap-section {
    position: relative;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3;
    z-index: 2;
    @include for-tablet-layout {
        padding: 0;
    }
    .wap-section-tool {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
        z-index: 1;
        display: none;
        border-radius: 0px 0px 10px 10px;
        background-color: rgba(32, 32, 32, 0.397);
        > button {
            border: none;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            width: 30px;    
            transition: .3s;
            border-radius: 10px;
        }
    }
    &.publish:hover{
        outline: none;

    }
    &:hover {
        outline: 1px dashed $clr3;
        z-index: 1;
        .wap-section-tool{
            display: flex;
            > button {
                &:hover {
                    background-color:  rgba(255, 255, 255, 0.15);
                }
                &:focus, &:active{
                    background-color:  rgba(255, 255, 255, 0.4);
                }
            }   
        }
    }
}


.wap-el {
    position: relative;
    display: flex;
    transition: 0.3;
    max-width: 100%;
    * { border-style: solid;}
    pre {
        max-width: 100%;
        overflow: hidden;
    }
    :first-child{
        width: 100%;
    }
    >.wap-el-btn-del{
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
        color: white;
        background-color: rgba(70, 70, 70, 0.65);
        border: none;
        width: 30px;
        display: none;
        transition: .3s;
        border-radius: 10px;
        *{border:none}
    }
    .wap-el-tool {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0;
        z-index: 1;
        display: none;
        border-radius: 10px 10px 0px 0px;
        background-color: rgba(73, 73, 73, 0.774);
        > button {
            border: none;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            width: 30px;    
            transition: .3s;
            border-radius: 10px;
        }
    }
    

    &.publish:hover{
        outline: none;

    }
    &:hover {
        outline: 1px dashed $clr3;
        z-index: 1;
        > .wap-el-btn-del{
            display: block;
            &:hover {
                background-color:  rgba(70, 70, 70, 1);
            }
            &:focus, &:active{
                background-color:  rgba(255, 255, 255, 0.4);
            }
        }
    }
    &:hover {
        outline: 1px dashed $clr3;
        z-index: 1;
        .wap-el-tool{
            display: flex;
            > button {
                * {border: none}
                &:hover {
                    
                    background-color:  rgba(70, 70, 70, 1);
                }
                &:focus, &:active{
                    background-color:  rgba(255, 255, 255, 0.4);
                }
            }   
        }
    }
 
}

.wap-header {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
    }
    li a {
        display: block;
        padding: 10px 20px;
        color: #3f7aae;
        border-bottom: none;
        text-decoration: none;
        &:hover {
            background-color: darken($clr8, 5%);
        }
    }
    .wap-logo {
        width: 190px;
        display: block;
        float: left;
        font-size: 2em;
        padding: 13px 20px;
        text-decoration: none;
    }
    .wap-nav-menu {
        clear: both;
        max-height: 0;
        transition: max-height 0.2s ease-out;
        &-icon {
            cursor: pointer;
            display: block;
            float: right;
            padding: 28px 20px;
            position: relative;
            user-select: none;
            .navicon {
                background: #3f7aae;
                display: block;
                height: 2px;
                position: relative;
                transition: background 0.2s ease-out;
                width: 18px;
                &:before, &:after {
                    background: #3f7aae;
                    content: "";
                    display: block;
                    height: 100%;
                    position: absolute;
                    transition: all 0.2s ease-out;
                    width: 100%;                
                }
                &:before {top: 5px;}
                &:after {top: -5px;}
            }
        }
        &-btn {
            display: none;
            &:hover {
                background-color: darken($clr7, 10%);
            }
            &:checked ~ .wap-nav-menu {
                max-height: 500px;
                width: 120%;
            }
            &:checked ~ .wap-nav-menu-icon .navicon {
                background: transparent;
            }
            &:checked ~ .wap-nav-menu-icon .navicon:before {
                transform: rotate(-45deg);
            }
            &:checked ~ .wap-nav-menu-icon .navicon:after {
                transform: rotate(45deg);
            }
            &:checked ~ .wap-nav-menu-icon:not(.steps) .navicon:before {
                top: 0;
            }
            &:checked ~ .wap-nav-menu-icon:not(.steps) .navicon:after {
                top: 0;
            }
            top: 0;
        }
    }
}

/* 48em = 768px */

@media (min-width: 48em) {
    .wap-header { 
        li {
        float: left;
            a {
                padding: 5px 0px;
            }
        }
        .wap-nav-menu {
            padding: 11px 15px 4px;
            clear: none;
            float: right;
            max-height: none;
            width: auto !important;
            &-icon {
                display: none;
            }
        }
    }
}