.app-editor {
    margin-top: rem(5px);
    height: 93.5vh;
    overflow: hidden;
}
.mobile-msg {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.editor-wap {
    flex: auto;
    padding: 0px;
    width: 85%;
    overflow-y: auto;
    overflow-x: hidden;
}
.editor-wap-empty {
    width: 95%;
    height: 70vh;
    border: 3px dashed #272727;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: gray;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: $editor-narrow-breakpoint) {
    .editor-wap {
        margin: 0;
        padding: 0;
        width: 100%;
        flex: 0 1 auto;

        .wap-section {
            flex-direction: column !important;
            nav {
                flex-direction: row !important;
                justify-content: space-between !important;
            }
            .wap-card {
                align-items: center !important;
            }
        }
        .wap-text {
            padding-inline: 40px !important;
        }
        button.wap-text {
            padding-inline: 20px !important;
            padding-block: 10px !important;
        }
    }
}

@media screen and (max-width: $editor-mobile-breakpoint) {
    .editor-wap {
        margin: 0 auto;
        flex: 0 1 auto;
        .wap-section {
            flex-direction: column !important;
            nav {
                flex-direction: row !important;
            }
            img {
                width: 100% !important;
                min-width: unset !important;
                border-radius: 0px !important;
                padding-inline: 0px !important;
            }
            .wap-card {
                align-items: center !important;
            }
            &.wap-header {
                flex-direction: column !important;
                flex-direction: row !important;
            }
        }
        button.wap-text {
            padding-inline: 20px !important;
            padding-block: 10px !important;
        }
    }
    .app-editor {
        flex-direction: column !important;
        justify-content: flex-start;
    }
    .editor-side {
        flex-direction: row !important;
        &-bar {
            flex-direction: row !important;
            height: 100px;
            min-width: 100%;
            margin: 0;
            border-radius: 0px;
        }
        .editor-sections-list {
            padding: 6px;
            height: 100px;
            min-width: 82vw;
            .edit-empty {
                margin: 25px auto;
            }
        }
        .side-bar-nav {
            display: none;
        }
        .editor-publish {
            padding: 5px;
            button {
                padding: 10px 15px;
            }
        }
    }
}

.editor-wap-size {
    min-height: 100%;
    &.large-view {
        flex: 0 1 auto;
        padding: 5px;
        margin: 0 auto;
    }
    &.medium-view {
        flex: 0 1 auto;
        padding: 5px;
        max-width: 768px;
        margin: 0 auto;
        .wap-section {
            flex-direction: column !important;
            nav {
                flex-direction: row !important;
                justify-content: space-between !important;
            }
            .wap-card {
                align-items: center !important;
            }
        }
    }
    &.small-view {
        flex: 0 1 auto;
        padding: 5px;
        max-width: 425px;
        margin: 0 auto;
        .wap-section {
            flex-direction: column !important;
            nav {
                flex-direction: column !important;
            }
            img {
                width: 100% !important;
                min-width: unset !important;
                border-radius: 0px !important;
                padding-inline: 0px !important;
            }
            .wap-text {
                margin: 10px !important;
                padding-left: 15px !important;
                padding-right: 15px !important;
            }
            .wap-card {
                align-items: center !important;
            }
            &.wap-header {
                flex-direction: column !important;
            }
        }
        .wap-text {
            width: 100% !important;
            padding-inline: 0px !important;
        }
        button.wap-text {
            padding-inline: 10px !important;
        }
    }
}
.editor-wap-size {
    min-height: 100%;
}
.map-cover {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: transparent !important;
}
//     @media screen and (max-width : $mobile-breakpoint) {
//         border: 5px solid grey;
//     }
// }
