.editor-side-bar {
  position: relative;
  background-color: $clr7;
  min-width: 272px;
  max-width: 272px;
  align-items: center;
  padding-right: 10px;
  height: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 100, 0.15);
  border-radius: 0px 0px 1rem 0px;
  margin: 0 0 8px;

  .side-bar-nav {
    align-items: center;
    width: 100%;
    button {
      border: none;
      background-color: inherit;
      font-family: raleway;
      flex: auto;
      min-height: 45px;
      font-size: em(30px);
      cursor: pointer;
      &:hover {
        border-bottom: 2px solid $clr4;
      }
      &.status-marker {
        border-bottom: 2px solid $clr4;
      }
    }
  }
  .editor-sections-list {
    padding: 20px 0 0 10px;
    height: 80vh;
    width: 100%;
    margin-top: 3px;
    font-family: raleway;
    overflow-x: hidden;
    overflow-y: auto;
    .edit-bar{
      padding-left: 10px;
    }
  }
  .btn-section {
    position: absolute;
    bottom: 0;
    display: flex;
  }
}
.editor-publish {
  padding: 10px;
}

.btn-publish {
  border: 1px solid #3f7aae;
  color: cornflowerblue;
  background-color: inherit;
  font-family: Raleway, Arial;
  border-radius: 6px;
  padding: 10px 50px;
  font-weight: bold;
  font-size: 20px;
}

.add-cmp-list {
  padding: em(10px);
  & > * {
    width: 170px;
    margin-bottom: em(10px);
    padding: em(12px);
    color: white;
    border-radius: em(5px);
    box-shadow: 0 0 3px 0;
    background-color: #34495e;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}

.img-sample {
  width: 90%;
  border-radius: 10px;
  transition: 0.5s;
  &:hover {
    cursor: pointer;
    width: 92%;
  }
}

.text-decoration {
  & > * {
    margin: 0;
  }
}

.add-list-img {
  width: 100%;
}

.undo {
  color: #939ea8;
  cursor: not-allowed;
  &.undo-active {
    color: black;
    cursor: pointer;
  }
}